<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Profile Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <header class="bg-primary text-white text-center py-3">
    <h1 class="text-center">Student Profile Page</h1>
  </header>

  <div class="container mt-4">
    <section>
      <h2 class="text-center">Student Information</h2>
      <div class="row mt-4">
        <div class="col-md-6">
          <p><strong>ID:</strong> {{student.id_student}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Full Name:</strong> {{student.fullname}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Group:</strong> {{student.group.name}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Date Of Inscription:</strong> {{student.date_of_inscription}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Admin:</strong> {{student.admin}}</p>
        </div>
      </div>
    </section>

    <section class="mt-4">
      <h2 class="text-center">Exams and Scores</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
        <tr>
          <th scope="col">Exam</th>
          <th scope="col">Score</th>
        </tr>
          </thead>
          <tbody>
        {% for student_exam in student.studentexam_set.all %}
          <tr>
            <td>{{ student_exam.exam }}</td>
            <td>{{ student_exam.score }}</td>
          </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </section>

    <section class="mt-4">
      <a href="{% url 'student_list' %}" class="btn btn-secondary">
        Back to Students List
      </a>
    </section>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
