<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if object %}Edit Student{% else %}Add Student{% endif %}</title>
</head>
<body>
    <h1>{% if object %}Edit Student{% else %}Add Student{% endif %}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    {% if object %}
    <a href="{% url 'admin_detail' object.admin.id_admin %}">Cancel</a>
    {% else %}
    <a href="{% url 'admin_detail' admin_id %}">Cancel</a>
    {% endif %}

</body>
</html>
