<h1>Admin Dashboard</h1>


<p><strong>Full Name:</strong> {{ admin.fullname }}</p>
<p><strong>Address:</strong> {{ admin.address }}</p>
<p><strong>Date of Inscription:</strong> {{ admin.date_of_inscription }}</p>

<a href="{% url 'admin_update' admin.pk %}">Edit</a> |
<a href="{% url 'admin_delete' admin.pk %}">Delete</a> |
<a href="{% url 'admin_list' %}">Back to List</a>


<h2>Student</h2>
<a href="{% url 'add_student' %}">Add Student</a>



<a href="{% url 'student-details' %}">Student Details</a>

<h2>Teachers </h2>
<a href="{% url 'add_teacher' %}">Add Teacher</a>
<a href="{% url 'teacher-list' %}"> Teacher List</a>
<a href="{% url 'teacher-details' %}">Teacher Details</a>


<h2>Groups </h2>
<a href="{% url 'add_Group' %}">Add Group</a>
<a href="{% url 'group-list' %}"> Group List</a>
<a href="{% url 'group-detail' group.pk %}">Group Details</a>


