<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin List</h1>
    <ul>
        {% for admin in admin_list %}
            <li>
                <a href="{% url 'admin_detail' admin.pk %}">{{ admin.fullname }}</a> - 
                {{ admin.adress }} - 
                {{ admin.date_of_inscription }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
    
    