{% block content %}
  <div>
    <h2>Create Student</h2>

    
    <form method="post" >
      {% csrf_token %}
      
      <div class="name">
        <label for="id_fullname" >Full Name</label>
        {{ form.fullname }}
      </div>

      <div class="adress">
        <label for="id_address" >Address</label>
        {{ form.address }}
      </div>

      <div class="date">
        <label for="id_date_of_inscription" >Date of Inscription</label>
        {{ form.date_of_inscription }}
      </div>

      <button type="submit" >Create Admin</button>
      <button type="submit" >Cancel</button>
    </form>
  </div>
{% endblock %}