<h1>Admin Dashboard</h1>


<p><strong>Full Name:</strong> {{ admin.fullname }}</p>
<p><strong>Address:</strong> {{ admin.address }}</p>
<p><strong>Date of Inscription:</strong> {{ admin.date_of_inscription }}</p>

<a href="{% url 'admin_update' admin.pk %}">Edit</a> |
<a href="{% url 'admin_delete' admin.pk %}">Delete</a> |
<a href="{% url 'admin_list' %}">Back to List</a>


<h2>All Student </h2>
<a href="{% url 'add_student' %}">Add Student</a>


<h2>All Teachers </h2>
<a href="{% url 'add_teacher' %}">Add Teacher</a>


<h2>All Groups </h2>
<a href="{% url 'add_Group' %}">Add Group</a>


