<h1>Admin Dashboard</h1>


<p><strong>Full Name:</strong> {{ admin.fullname }}</p>
<p><strong>Address:</strong> {{ admin.address }}</p>
<p><strong>Date of Inscription:</strong> {{ admin.date_of_inscription }}</p>

<a href="{% url 'admin_update' admin.pk %}">Edit</a> |
<a href="{% url 'admin_delete' admin.pk %}">Delete</a> |
<a href="{% url 'admin_list' %}">Back to List</a>


<h2>Student</h2>
<a href="{% url 'add_student' %}">Add Student</a>



<a href="{% url 'student_list' %}">Student List</a>

{% comment %} <h2>Teachers </h2>
<a href="{% url 'add_teacher' %}">Add Teacher</a>
<a href="{% url 'teacher_list' %}"> Teacher List</a>
<a href="{% url 'teacher_detail' %}">Teacher Details</a>
<a href="{% url 'teacher_detail' teacher.pk %}">Teacher Details</a>
{% endcomment %}

{% comment %} <h2>Groups </h2>
<a href="{% url 'add_Group' %}">Add Group</a>
<a href="{% url 'group_list' %}"> Group List</a>
<a href="{% url 'group_list' %}">Group List</a>
<a href="{% url 'group_detail' %}">Group Details</a>
<a href="{% url 'group_detail' group.pk %}">Group Details</a>
{% endcomment %}
